# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# Hydra outputs
outputs/

# Data files
/data/*

# Experiment tracking
mlruns/
tb_logs/
logs/

# OS
.DS_Store
Thumbs.db

.pytest_cache/
.coverage
.pdm-python
.mypy_cache/
.ruff_cache/

annotations.csv
